@media only screen {
	body {
		font-family: "Dancing Script";
		font-size: 24px;
		background-color: black;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	.contenido {
		width: 900px;
		box-align: center;
		margin: auto;
	}

	header {
		width: auto;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		background-color: #5b7989;
		border-radius: 10px 10px 0 0;
		text-shadow: 2px 2px #02010a;
		justify-content: space-around;
		align-items: center;
		padding: 3%;
	}

	h1 {
		display: flex;
		justify-content: flex-start;
		margin: auto;
		width: 50%;
		color: white;
	}

	.menufotografia {
		display: flex;
		justify-content: flex-end;
		margin: auto;
	}

	.menufotografia a {
		display: flex;
		justify-content: flex-end;
		text-decoration: none;
		margin: auto;
		color: white;
	}

	.imagenpaisaje {
		display: flex;
		flex-direction: row;
		background-color: #82c3a6;
		width: 100%;
		padding-bottom: 1%;
		padding-top: 2%;
	}
	.contenidoImagenes{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		background-color: #d5c75f;
		width: 100%;
	}
		.contenidoImagenes div {
		width:100%;
		height:100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 1%;
		}

		.contenidoImagenes img {
		display:flex;
		flex-wrap: wrap;
		margin:auto;
		width: 100%;
		border: 2px;
		box-shadow: #02010a;
		-webkit-box-shadow: 2px 2px 2px #02010a;
		-moz-box-shadow: 2px 2px 2px #02010a;
		}
	}
	@media only screen and (max-width: 900px) {
		body {
			font-size: 20px;
			text-align: center;
			width: 90%;
		}
	
		.contenido {
			width: 100%;
		}
	
		.contenidoImagenes {
			width:auto;
			padding: 1%;
			display: flex;
			justify-content: space-around;
			align-content: center;
		}

		.contenidoImagenes div{
			width:auto;
			padding: 1%;
			display: flex;
			flex-direction: column;
			align-content: center;
		}
		.contenidoImagenes img{
			width: 80%;
			height: 80%;
		}
	}
	#imagen1{
		filter: blur(10px);
	}
	#imagen2, #imagen4, #imagen6{
		filter:grayscale(100%);
	}
	#imagen3{
		filter:sepia(90%);
	}
	footer{
		margin:auto;
		width:100%;
		height:2%;
		display:flex;
		flex-direction:row;
		background-color: #C6d5c5;
		border-radius:0px 0px 10px 10px;
	}
	#columna1, #columna2, #columna3, #columna4{
		font-size:16px;
		width:22%;
		margin:auto;
		text-align: center;
	}
	@media (max-width: 900px){
		footer{
			flex-direction: column;
		}
	}
	#columna3 img{
		width:10px;
	}
	#columna4 img{
		width:10px;
	}
	header {
		animation: myheader 2s;
		}
	
	@keyframes myheader{
		0%{
			margin-top:150%;
			translate:top;
		}
		50%{
			margin-top:-5%;
		}
		100%{
			margin-top:0%;
		}
	}
	